* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 20px;
  z-index: 2;
}
nav .nav-content {
  margin: 0 auto;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .nav-content .logo img {
  width: 125px;
}
nav .nav-content .nav-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-content .nav-links a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #fff;
}
nav .nav-content .button {
  width: 125px;
}
nav .nav-content .button button {
  width: 125px;
  height: 50px;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  border: none;
  font-family: "PT Sans", sans-serif;
}
nav .nav-content .button button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #5865F2;
  cursor: pointer;
}

footer {
  width: 100%;
  min-height: 500px;
  background-color: #23272a;
}
footer .footer-row {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
footer .footer-row .imagine-lang {
  width: 20%;
}
footer .footer-row .imagine-lang h1 {
  font-size: 40px;
  color: #5865F2;
  font-family: "PT Sans", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  padding: none;
  margin: none;
}
footer .footer-row .imagine-lang .lang {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}
footer .footer-row .imagine-lang .lang img {
  width: 30px;
  float: left;
  margin-right: 5px;
}
footer .footer-row .imagine-lang .social-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
footer .footer-row .imagine-lang .social-icons img {
  width: 24px;
}
footer .footer-row .footer-table {
  width: 62%;
  font-family: "PT Sans", sans-serif;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
footer .footer-row .footer-table .footer-table-column {
  width: 15%;
}
footer .footer-row .footer-table .footer-table-column h6 {
  color: #5865F2;
  font-size: 1em;
  font-weight: 100;
}
footer .footer-row .footer-table .footer-table-column p {
  color: #fff;
}
footer .footer-row .logo img {
  width: 125px;
}
footer .footer-row .button button {
  width: 125px;
  height: 50px;
  background-color: #5865F2;
  color: #fff;
  border-radius: 50px;
  font-family: "PT Sans", sans-serif;
  border: 0px;
}
footer .footer-row .button button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #7983f5;
  cursor: pointer;
}
footer hr {
  width: 65%;
  border-color: #5865F2;
  margin: 0 auto;
}

.hero-img {
  background-color: #5865F2;
  background-image: url("../images/banner-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  height: 750px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img .hero-content {
  width: 600px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: #fff;
}
.hero-img .hero-content h1 {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
.hero-img .hero-content p {
  font-size: 20px;
}
.hero-img .hero-content .buttons {
  width: 100%;
  font-family: "PT Sans", sans-serif;
}
.hero-img .hero-content .buttons .btn-white {
  background-color: #fff;
  width: 250px;
  text-align: center;
  height: 50px;
  border: 0px;
  border-radius: 50px;
  font-size: 18px;
}
.hero-img .hero-content .buttons .btn-black {
  background-color: #2c2f33;
  color: #fff;
  width: 275px;
  text-align: center;
  height: 50px;
  border: 0px;
  border-radius: 50px;
  font-size: 18px;
}
.hero-img .hero-content .buttons button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #7983f5;
  cursor: pointer;
}

.hero-color {
  margin: 0 auto;
  width: 100%;
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-color .hero-content {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-color .hero-content .hero-text {
  width: 48%;
  color: #fff;
  font-family: "PT Sans", sans-serif;
}
.hero-color .hero-content .hero-text h1 {
  font-size: 62px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.hero-color .hero-content .hero-text p {
  font-size: 20px;
}
.hero-color .hero-content .hero-text button {
  margin-top: 30px;
  background-color: #5865F2;
  font-size: 20px;
  color: #fff;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 0px;
}
.hero-color .hero-content .hero-text button:hover {
  cursor: pointer;
  background-color: #7983f5;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.hero-color .hero-content .hero-text .buttons {
  display: flex;
  width: 100%;
}
.hero-color .hero-content .hero-text .buttons button {
  margin-top: 20px;
  background-color: #2c2f33;
  font-size: 20px;
  color: #fff;
  height: 50px;
  border-radius: 50px;
  border: 0px;
}
.hero-color .hero-content .hero-text .buttons button:hover {
  cursor: pointer;
  background-color: #36393f;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.hero-color .hero-content .hero-text .buttons .large {
  width: 290px;
  margin-right: 10px;
}
.hero-color .hero-content .hero-text .buttons .large span {
  background-color: #5865F2;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.hero-color .hero-content .hero-text .buttons .small {
  width: 200px;
}
.hero-color .hero-content .hero-text img {
  width: 200px;
}
.hero-color .hero-content .hero-image {
  width: 50%;
}
.hero-color .hero-content .hero-image img {
  width: 100%;
}

.bg-grey {
  background-color: #2c2f33;
}

.bg-blurple {
  background-color: #5865F2;
}

.bg-gradient {
  background-image: linear-gradient(#5865F2, #db85f4);
}

.hero-content-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  margin-top: 70px;
}
.hero-content-column h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 64px;
  text-align: center;
  margin-top: 100px;
}
.hero-content-column p {
  width: 50%;
  margin: auto;
  font-size: 20px;
  text-align: center;
}
.hero-content-column img {
  margin: 100px 0px;
}

.odd-panel {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 500px;
  padding: 100px;
}
.odd-panel .flex-img-left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
.odd-panel .flex-img-left .panel-text {
  font-family: "PT Sans", sans-serif;
}
.odd-panel .flex-img-left .panel-text h2 {
  font-size: 36px;
}
.odd-panel .flex-img-left .panel-text p {
  font-size: 22px;
}

.even-panel {
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  background-color: #f6f6f6;
}
.even-panel .flex-img-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
.even-panel .flex-img-right .panel-text {
  font-family: "PT Sans", sans-serif;
}
.even-panel .flex-img-right .panel-text h2 {
  font-size: 36px;
}
.even-panel .flex-img-right .panel-text p {
  font-size: 22px;
}
.even-panel .flex-column {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  padding: 50px;
}
.even-panel .flex-column h1 {
  font-size: 52px;
  font-weight: bolder;
}
.even-panel .flex-column p {
  font-size: 22px;
}
.even-panel .flex-column h2 {
  font-size: 36px;
}
.even-panel .flex-column button {
  background-color: #5865F2;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  font-size: 20px;
}
.even-panel .flex-column button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #7983f5;
  cursor: pointer;
}

.download-options {
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-options .options-column {
  width: 30%;
}
.download-options .options-column .option {
  background-color: #f6f6f6;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  border: 0px;
  text-align: center;
  max-width: 580px;
  max-height: 600px;
  overflow: hidden;
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
}
.download-options .options-column .option button {
  background-color: #2c2f33;
  color: #fff;
  border-radius: 50px;
  border: 0;
  min-width: 200px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 5px;
}
.download-options .options-column .option button:hover {
  cursor: pointer;
  background-color: #36393f;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.download-options .options-column .experiment h1 {
  text-align: left;
  margin-top: 25px;
  font-size: 30px;
}
.download-options .options-column .experiment p {
  text-align: left;
  font-size: 20px;
  color: #2c2f33;
  margin-bottom: 20px;
}
.download-options .options-column .experiment button {
  width: 300px;
  float: left;
  margin-bottom: 30px;
}

.hiring {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;
}
.hiring .hiring-intro {
  width: 60%;
}
.hiring .hiring-intro h1 {
  font-weight: bolder;
  font-size: 52px;
  text-align: center;
  margin: 100px 0px 25px 0px;
}
.hiring .hiring-intro p {
  text-align: center;
  font-size: 20px;
  color: #2c2f33;
}
.hiring .hiring-panel {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}
.hiring .hiring-panel .hiring-text {
  width: 48%;
}
.hiring .hiring-panel .hiring-text h2 {
  font-weight: bolder;
  font-size: 34px;
}
.hiring .hiring-panel .hiring-text p {
  font-size: 20px;
  color: #2c2f33;
}
.hiring .hiring-panel .hiring-image {
  width: 48%;
}
.hiring .hiring-panel .hiring-image img {
  width: 100%;
  border-radius: 5px;
}

.nitro-perks {
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
.nitro-perks .perks-grid {
  width: 65%;
}
.nitro-perks .perks-grid .perks-row {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nitro-perks .perks-grid .perks-row .perks {
  width: 350px;
  height: 300px;
  padding: 50px;
  border: 0px;
  border-radius: 10px;
  color: #fff;
}
.nitro-perks .perks-grid .perks-row .perks img {
  width: 200px;
}
.nitro-perks .perks-grid .perks-row #emoji {
  background-image: linear-gradient(135deg, #04a9a0, #23e3ee);
}
.nitro-perks .perks-grid .perks-row #profile {
  background-image: linear-gradient(135deg, #4276ff, #22ebff);
}
.nitro-perks .perks-grid .perks-row #profile img {
  height: 125px;
}
.nitro-perks .perks-grid .perks-row #boost {
  background-image: linear-gradient(135deg, #3f71ff, #9896ff);
}
.nitro-perks .perks-grid .perks-row #badge {
  background-image: linear-gradient(135deg, #827afe, #f773fa);
}
.nitro-perks .perks-grid .perks-row #upload {
  background-image: linear-gradient(135deg, #f945dd, #ffc752);
}
.nitro-perks .perks-grid .perks-row #video {
  background-image: linear-gradient(135deg, #f0701b, #ffc84c);
}
.nitro-perks .persuade {
  width: 65%;
  margin: 20px;
}
.nitro-perks .persuade h1 {
  font-size: 48px;
}
.nitro-perks .persuade .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nitro-perks .persuade .buttons button {
  margin-top: 20px;
  background-color: #2c2f33;
  font-size: 20px;
  color: #fff;
  height: 50px;
  border-radius: 50px;
  border: 0px;
}
.nitro-perks .persuade .buttons button:hover {
  cursor: pointer;
  background-color: #36393f;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.nitro-perks .persuade .buttons .large {
  width: 290px;
  margin-right: 10px;
}
.nitro-perks .persuade .buttons .large span {
  background-color: #5865F2;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.nitro-perks .persuade .buttons .small {
  width: 200px;
}

/*# sourceMappingURL=styles.css.map */
