.download-options{
    width: 100%;
    min-height: 700px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .options-column{
        width: 30%;
        .option{
            background-color: $light-grey;
            margin: 20px;
            padding: 20px;
            border-radius: 25px;
            border: 0px;
            text-align: center;
            max-width: 580px;
            max-height: 600px;
            overflow: hidden;
            font-family: 'PT Sans', sans-serif;
            font-size: 28px;

            button{
                background-color: $dark-grey;
                color: #fff;
                border-radius: 50px;
                min-width: 200px;
                height: 50px;
                font-size: 20px;
                margin-bottom: 50px;
                padding: 5px;
            }
        }

        .experiment{
            h1{
                text-align: left;
                margin-top: 25px;
                font-size: 30px;
            }p{
                text-align: left;
                font-size: 20px;
                color: $dark-grey;
                margin-bottom: 20px;
            }
            button{
                width: 300px;
                float: left;
                margin-bottom: 30px;
            }
        }
    }
}