.even-panel{
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    background-color: $light-grey;

    .flex-img-right{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        .panel-text{
            font-family: 'PT Sans', sans-serif;
            h2{
                font-size: 36px;
            }p{
                font-size: 22px;
            }
        }
        
    }

    .flex-column{
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        font-family: 'PT Sans', sans-serif;
        text-align: center;        
        padding: 50px;
        h1{
            font-size: 52px;
            font-weight: bolder;
        }p{
            font-size: 22px;
        }h2{
            font-size: 36px;
        }
        button{
            background-color: $blurple;
            color: #fff;
            border: 0px;
            border-radius: 50px;
            width: 300px;
            height: 50px;
            font-size: 20px;
        }
        button:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            background-color: #7983f5;
            cursor: pointer;
        }

    }
}