.hero-color{
    margin: 0 auto;
    width: 100%;
    min-height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-content{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .hero-text{
            width: 48%;
            color: #fff;
            font-family: 'PT Sans', sans-serif;
            h1{
                font-size: 62px;
                font-weight: bolder;
                margin-bottom: 30px;
            }p{
                font-size: 20px;
            }
            button{
                margin-top: 30px;
                background-color: $blurple;
                font-size: 20px;
                color: #fff;
                width: 300px;
                height: 50px;
                border-radius: 50px;
                border: 0px;
            }button:hover{
                cursor: pointer;
                background-color: #7983f5;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
            .buttons{
                display: flex;
                width: 100%;
                button{
                    margin-top: 20px;
                    background-color: $dark-grey;
                    font-size: 20px;
                    color: #fff;
                    height: 50px;
                    border-radius: 50px;
                    border: 0px;
                }button:hover{
                    cursor: pointer;
                    background-color: #36393f;
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                }
                .large{
                    width: 290px;
                    margin-right: 10px;
                    span{
                        background-color: $blurple;
                        height: 30px;
                        font-size: 16px;
                        padding: 5px;
                        border-radius: 20px;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                }
                .small{
                    width: 200px;
                }
            }
            img{
                width: 200px;
            }
        }
        .hero-image{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
}
.bg-grey{
    background-color: $dark-grey;
}
.bg-blurple{
    background-color: $blurple;
}
.bg-gradient{
    background-image: linear-gradient($blurple, #db85f4);
}