.hero-img{
    background-color: $blurple;
    background-image: url("../images/banner-main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 750px;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-content{
        width: 600px;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        color: #fff;
        h1{
            font-size: 72px;
            font-weight: bold;
            text-transform: uppercase;
        }
        p{
            font-size: 20px;
        }

        .buttons{
            width: 100%;
            font-family: 'PT Sans', sans-serif;
            .btn-white{
                background-color: #fff;
                width: 250px;
                text-align: center;
                height: 50px;
                border: 0px;
                border-radius: 50px;
                font-size: 18px;
            }
            .btn-black{
                background-color: $dark-grey;
                color: #fff;
                width: 275px;
                text-align: center;
                height: 50px;
                border: 0px;
                border-radius: 50px;
                font-size: 18px;
            }
            button:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                color: #7983f5;
                cursor: pointer;
              }
        }
    }
}